.top {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.profileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
